<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context-3.0.xsd  
    http://www.springframework.org/schema/aop            
    http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">  
	<!-- 使Spring关注Annotation 
	<mvc:annotation-driven />-->
	
	<context:annotation-config />
	<!-- 让Spring通过自动扫描来查询和管理Bean-->
	<context:component-scan base-package="com.loveboy.*" /> 
	
	<aop:aspectj-autoproxy/>  <!-- 要添加本行 -->
	
	<!-- 代用@path注解的方法都将被以下aop 自定义面向切面  初始化请求相关参数 -->
	<bean id="resourceInterceptor" class="com.loveboy.commons.interceptor.ResourceInterceptor"/>
	<aop:config>
		<aop:aspect id="resourceAspect" ref="resourceInterceptor" order="1">
			<aop:around method="resourceAspect" pointcut="@annotation(resourcePath) and @annotation(resourceLogInfo) "/>
			<!-- execution( * com.loveboy.*.resource.*.*(..)) -->
		</aop:aspect>
	</aop:config>
	
	
	<!--配置文件导入 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/redis_test.properties</value>
				<value>classpath:config/mariaDb-jdbc_test.properties</value>
			</list>
		</property>
	</bean>
	

	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 引入文件 -->
	<import resource="applicationContext-datasource.xml"/>
	<!--<import resource="applicationContext-springjdbc.xml"/>-->
	<import resource="applicationContext-mybatis.xml"/>
	<import resource="applicationContext-session-redis.xml"/>
</beans>